body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color:rgb(217, 191, 241)
}

form {
    margin: auto;
    background-color:rgb(191, 176, 222);;
    border-radius: 8px;
    box-shadow: 0 5px 9px rgb(146, 58, 146);
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color:rgba(50, 6, 82, 0.781);
}

fieldset {
    border:2px solid rgb(129, 92, 143);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color:rgb(188, 157, 208);
}

legend {
    font-weight: bold;
    text-align: left;
    color:rgba(50, 6, 82, 0.781);
}


label {
    display: block;
    margin-top: 10px;
    color: rgb(122, 22, 122);

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border:  1px darkmagenta;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color:rgb(185, 146, 213);
    color:  rgb(128, 44, 98);
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: rgb(121, 86, 190);
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border:  2px rgb(151, 72, 130);
    border-radius: 8px;
    background-color:rgb(185, 146, 213);
    box-shadow: 0 5px 9px rgb(146, 58, 146);
    outline: none;

}

#resume-display h2 {
    color: rgb(115, 74, 159);
}

.profilePicture {
    display: block;
    margin: 0 auto;
    border: 2px  rgb(169, 146, 216);
    box-shadow: 0 4px 8px rgb(146, 58, 146);
    border-radius: 500%;
    width: 150px;
    height: 150%;
    object-fit: cover;


}
